<div class="section">
  <p id="notice"><%= notice %></p>
  <div class="section-header">
    <%= link_to 'New Customer', new_customer_path, class: "btn-create" %>
    <h1>Customer</h1>
  </div>
  <table class="table">
    
    <thead>
      <tr>
        <th>view</th>
        <th>Code</th>
        <th>Name</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customers_path do %><i class="far fa-eye"></i> <% end %></td>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= link_to edit_customer_path(customer) do %><i class="far fa-edit"></i> <% end %></td>
          <td><%= link_to customer, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt"></i> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>