<div class="section">
  <p id="notice"><%= notice %></p>
  <div class="section-header">
    <%= link_to 'New Company', new_company_path, class: 'btn-create' %>
    <h1>Company Record</h1>
  </div>
  <table class = "table" id="company">
    <thead>
      <tr>
        <th>view</th>
        <th>Unique Code</th>
        <th>Name</th>
        <th colspan="2"><p class="action">Action</p></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company do %><i class="far fa-eye"></i> <% end %></td>
          <td><%= company.id %></td>
          <td><%= company.name %></td>        
          <td><%= link_to edit_company_path(company) do %><i class="far fa-edit"></i> <% end %></td>
          <td><%= link_to company, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt"></i> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>