<p id="notice"><%= notice %></p>


<div class="records">
  <p>
    <strong>Campany Name:</strong> 
    <%= @company.name %>
  </p>
  <p>
    <strong>Contact:</strong> 
    <%= @company.contact %>
  </p>
  <p>
    <strong>Address:</strong> 
    <%= @company.address %>
  </p>
</div>
<%# company history %>
<div class="header">
  Supply History
  <%= link_to 'Edit', edit_company_path(@company), class: 'btn-create' %>
</div>
<div class="history">
  <table class= "table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Barcode</th>
        <th>quantity</th>
        <th>Unit per price</th>
      </tr>
    </thead>
    <tbody>
    <% @supply.each do |h| %>
      <% h.items.each do |i| %> 
      <tr>
        <td><%= h.created_at.strftime('%Y-%m-%d') %> </td>
        <td><%= i.id %></td>
        <td><%= i.quantity %></td>
        <td><%= i.supply_deliver_id %></td>
      </tr>
      <% end %>
    <% end %>      
    </tbody>


  </table>
</div>


