<div class="section">
  <p id="notice"><%= notice %></p>
  <div class="section-header-view">
    <h2>Company Name: <span><%= @company.name %></span></h2>
    <h2>Contact: <span><%= @company.contact %></span></h2>
    <h2>Address: <span><%= @company.address %></span></h2>
  </div>
  <table class= "table" >
    <thead>
      <tr>
        <th>Date</th>
        <th>Barcode</th>
        <th>quantity</th>
        <th>Unit per price</th>
      </tr>
    </thead>
    <tbody>
    <% @supply.each do |h| %>
      <% h.items.each do |i| %> 
      <tr >
        <td><%= h.created_at.strftime('%Y-%m-%d') %> </td>
        <td><%= i.id %></td>
        <td><%= i.quantity %></td>
        <td><%= i.supply_deliver_id %></td>
      </tr>
      <% end %>
    <% end %>      
    </tbody>
  </table>
</div>