<div class="section">
  <p id="notice"><%= notice %></p>
  <div class="section-header">
    <%= link_to 'New Product', new_product_path, class: 'btn-create' %>
    <h1>Product Record</h1>
  </div >

  <table class="table">
    <thead>
      <tr>
        <th>view</th> 
        <th>Barcode</th> 
        <th>Description</th> 
        <th colspan="2"><p class="action" >Action</p></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to products_path do %><i class="far fa-eye"></i> <% end %></td>
          <td><%= product.id %></td>
          <td><%= product.description %></td>
          <td><%= link_to edit_product_path(product) do %><i class="far fa-edit"></i> <% end %></td>
          <td><%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-eye"></i> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>