<p id="notice"><%= notice %></p>


<div class="company_header">
<p>
  <strong>Barcode: </strong>
  <%= @product.id %>
</p> 
<p> 
  <strong>Product Description: </strong>
  <%= @product.description %>
</p>
</div>


<div class="header">Shipment History
  <%= link_to 'Edit', edit_product_path(@product), class: 'btn-create' %>
</div >
<%# company history %>
<div class="history">
  <table class= "table">
    <thead>
      
      <tr>
        <th>Date</th>
        <th>Company</th>
        <th>quantity</th>
        <th>Unit per price</th>
      </tr>
    </thead>
    <tbody>
      <% @supplier.each do |s| %>
        <% s.items.where(product_id: @product.id).each do |i| %>
          <tr>
            <td><%= i.created_at.strftime('%Y-%m-%d') %> </td>
            <td><%= s.company_id %> </td>
            <td><%= i.quantity %></td>
            <td><%= i.unit_per_cost %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

