<ul>
  <li class="listItemA"><%= link_to "Supply Deliver", root_path %> </li>
  
  <li class="listItemA"><%= link_to "Sale Transaction", sale_transactions_path %> </li>
  <li class="listItemA"><%= link_to "Company Code", companies_path %> </li>
  <li class="listItemA"><%= link_to "Product Code", products_path %> </li>
  <li class="listItemA"><%= link_to "Customer Code", customers_path %> </li>
</ul>